<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="z.z.w.test.dao.sms.biz.mapper.MerchantChannelBandMapper">

	<select id="getChannelCodeByAccount" resultType="String">
		SELECT
		sms_channel.CHANNEL_CODE FROM MERCHANT_CHANNEL_BAND JOIN
		sms_channel
		ON
		MERCHANT_CHANNEL_BAND.CHANNEL_CODE =
		sms_channel.CHANNEL_CODE
		WHERE 1 = 1
		<if test="merchantAccount != null and merchantAccount !=''">
			AND MERCHANT_ACCOUNT = #{merchantAccount,jdbcType=VARCHAR}
		</if>
		<if test="channelCodes != null and channelCodes.size() > 0">
			AND MERCHANT_CHANNEL_BAND.CHANNEL_CODE NOT IN
			<foreach collection="channelCodes" item="channelCode" index="index"
				open="(" separator="," close=")">
				#{channelCode}
			</foreach>
		</if>
		ORDER BY score
		DESC,MERCHANT_ACCOUNT LIMIT 1
	</select>

</mapper>