<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="z.z.w.test.dao.TestMapper">
	<select id="selectUserById" parameterType="java.lang.String"
		resultMap="userResultMap">
		select id, name, age from TbTestUser where id= #{id}
	</select>
</mapper>